
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container px-5"  style="height:300px" >
    <h2>Hakkımızda</h2>
    Çanta dünyası olarak 2021 yılında kurulmuştur. Kurulduğu günden bu yana kaliteden, dürüstlükten ve müşteri 
    memnuniyeti ilkelerinden ödün vermeyen Çanta Dünyası çanta, cüzdan, kemer ürünleri konusunda en güvenilir ve
    en hızlı hizmeti en ekonomik koşullarla sunmak, rekabet halinde olduğu sektörü büyütmek ve hizmet kalitesini
    yükseltmek için soluksuz çalışmaktadır.
</div>
